{% load static %}
<div class="header">
    <div class="logo">
        <img class="group"
             src="{% static 'img/group.png' %}"
             width="auto"
             height="auto"
             alt="logo" />
        <div class="text-wrapper">Conveting</div>
    </div>
    <div class="menu">
        <div class="text">
            <a href="{% url 'index' %}">
                <div class="div">Home</div>
            </a>
        </div>
        <div class="div-wrapper">
            <a href="{% url 'prediction_create' %}">
                <div class="text-wrapper-2">AI 질환 예측</div>
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="div-wrapper">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit"
                            class="text-wrapper-2"
                            style="background:none;
                                   border:none;
                                   padding:0;
                                   cursor:pointer">로그아웃</button>
                </form>
            </div>
        {% else %}
            <div class="div-wrapper">
                <a href="{% url 'login' %}">
                    <div class="text-wrapper-2">로그인</div>
                </a>
            </div>
            <div class="div-wrapper">
                <a href="{% url 'account_signup' %}">
                    <div class="text-wrapper-2">회원가입</div>
                </a>
            </div>
        {% endif %}
    </div>
</div>
